<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viniciusapp.appdamassa">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APPDaMassa"
        android:usesCleartextTraffic="true">
        <activity android:name=".links">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ge.globo.com"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ge.globo.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".walpper" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity" />
        <activity android:name=".recuperarsenha" />
        <activity android:name=".cadastro" />
        <activity android:name=".privacidade" />
        <activity android:name=".MelhoresMomentos" />
        <activity android:name=".ArenaMRV" />
        <activity android:name=".Setoristas" />
        <activity android:name=".GaloNaVEia" />
        <activity android:name=".CopaBr" />
        <activity android:name=".brasileiro" />
        <activity android:name=".Libertadores" />
        <activity android:name=".Mineiro" />
        <activity android:name=".Calendar" />
        <activity android:name=".Tabela" />
        <activity android:name=".estatistica" />
        <activity android:name=".news" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3629271590695377~3990693934" />

        <service android:name=".FireBasePushNotificationClass">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
            </intent-filter>
        </service>
    </application>

</manifest>